## Node Modules ##
node_modules/

## ENV ## 
*.ENV

## DS Stores ## 
.DS_Store


## Raw Data file ## 
reviews1.csv
reviews2.csv
reviews3.csv
reviews4.csv

review1.json
review2.json
review3.json
review4.json

